<!DOCTYPE html>
<html>
  <head>
    <title>img-elf</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="dropZone" class="drop-zone">
      <h1>img-elf</h1>
      <form id="createForm" action="/" method="post">
        <div>
          <label for="imageType">Type:</label>
          <select name="imageType" id="imageType" required>
            <option value="png">PNG</option>
            <option value="jpeg">JPEG</option>
          </select>
        </div>
        <br />

        <div>
          <label for="imageWidth">Width:</label>
          <input
            id="imageWidth"
            type="number"
            name="imageWidth"
            min="1"
            step="1"
            value="100"
            required
          />
          <span>px</span>
        </div>
        <br />

        <div>
          <label for="imageHeight">Height:</label>
          <input
            id="imageHeight"
            type="number"
            name="imageHeight"
            min="1"
            step="1"
            value="100"
            required
          />
          <span>px</span>
        </div>
        <br />

        <button type="submit">Create</button>
      </form>
      {% if errors %}
      <p>Image creation errors:</p>
      <ul>
        {% for field, error in errors.items() %}
        <li>{{ field }}: {{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </body>
</html>
